.quiz-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.controls-container {
	display: flex;
	gap: 5px;
}

.markdown-container {
	width: 100%;
	line-height: 1.5;

	table {
		width: 100%;
		border-collapse: collapse;

		&, th, td {
			border: 1px solid #545454;
		}

		th, td {
			padding: 4px 8px;
		}

		th {
			text-align: left;
		}
	}

	ol, ul {
		padding-left: 2em;

		li {
			padding: 0.075em 0
		}
	}

	blockquote {
		border-inline-start: 2px solid rgb(138, 92, 245);
		padding-left: 1.5em;
	}

	.math-block svg {
		width: 100%;
	}
}

.prompt-input {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 16px;
}

.form-choice {
	display: flex;
	align-items: flex-start;
	border-radius: 5px;
}

.form-choice.correct-choice {
	background: green;
}

.form-choice.incorrect-choice {
	background: darkred;
}

.form-radio {
	margin-top: 8px;
}

.form-radio-label {
	padding: 4px 8px;
}

.submit-button {
	margin-top: 2em;
}

.result-container {
	margin-top: 2em;
	padding: 0 1em;
	border: 1px solid gray;
	border-radius: 5px;
	display: none;
}

.result-container.result-visible {
	display: block;
}

.correct-text {
	color: #00bb00;
}

.incorrect-text {
	color: red;
}
